

//colors
$white: #FFFFFF;
$primary: #C1C1C1;
$info: #EB601D;
$darkBg: #202020;
$lightBg: #2C2C2C;
$footerBg: #41454E;

//font-sizes

$h4fontSize: 1rem;
$h2fontSize: $h4fontSize * 2.5;
$formfontSize: $h4fontSize * 1.125;
$mobileH2: 3rem;
$mobileH2: 2rem;

//borders

$buttonsBorderRadius: 0.75rem;
$buttonPaddings: 1.3125rem 2.4375rem;

//layout
$mainWidth: 75%;

